@using StarbucksProje.PagedList;
@{
    var action_name = ViewBag.actionName;
    var contr_name = ViewBag.contrName;
}
<nav aria-label="Page navigation example">
    @if (@Model != null && @Model.totalPageNumber > 0)
    {
        <ul class="pagination justify-content-end">
            <li class="page-item @(Model.activePage>1?"":"invisible")">
                <a class="page-link" asp-controller="@contr_name" asp-action="@action_name" asp-route-page="1">Başa Dön</a>
            </li>
            <li class="page-item @(Model.activePage>1?"":"disabled")">
                <a class="page-link" asp-controller="@contr_name" asp-action="@action_name" asp-route-page="@(Model.activePage-1)">Geri</a>
            </li>
            @for (var i = Model.startPage; i <= Model.endPage; i++)
            {
                <li class="page-item @(Model.activePage==@i?"active":"")"><a class="page-link" asp-controller="@contr_name" asp-action="@action_name" asp-route-page="@i">@i</a></li>
            }

            <li class="page-item @(Model.activePage<Model.totalPageNumber?"":"disabled")">
                <a class="page-link" asp-controller="@contr_name" asp-action="@action_name" asp-route-page="@(Model.activePage+1)">İleri</a>
            </li>
            <li class="page-item @(Model.activePage<Model.totalPageNumber?"":"invisible")">
                <a class="page-link" asp-controller="@contr_name" asp-action="@action_name" asp-route-page="@(Model.totalPageNumber)">Sona Git</a>
            </li>
        </ul>
    }
</nav>