@using StarbucksProje.Models
@model ProductCustomizationModel
@{
    ViewData["Title"] = "UpdateProductCustomization";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var products = Model.productModel;
    var customizations = Model.customizationModel;
    var productCustomization = Model.productCustomizationModel;
}

<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h4 class="card-title">Product Customization</h4>
            <p class="card-description">
                Product Customization Update
            </p>
            <form class="forms-sample" action="/ProductCustomization/UpdateProductCustomization" method="post">
                <input type="hidden" class="form-control" name="productCustomizationId" value="@productCustomization.productCustomizationId">
                <div class="form-group">
                    <label>Product Name</label>
                    <select class="form-control" name="productId">
                        @foreach (var item in products)
                        {
                            if(item.productId==productCustomization.productId)
                            {
                                <option value="@item.productId" selected>@item.productName</option>
                            }
                            else
                            {
                                <option value="@item.productId">@item.productName</option>
                            }
                        }
                    </select>
                    </div>
                    <div class="form-group">
                    <label>Customization Name</label>
                    <select class="form-control" name="customizationId">
                        @foreach (var item in customizations)
                        {
                            if (item.customizationId == productCustomization.customizationId)
                            {
                                        <option value="@item.customizationId" selected>@item.customizationName</option>
                            }
                            else
                            {
                                        <option value="@item.customizationId">@item.customizationName</option>
                            }
                        }
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="productCustomizationDeleted">
                        @if (productCustomization.productCustomizationDeleted)
                        {
                                <option value="False">Active</option>
                                <option value="True" selected>Pasive</option>
                        }
                        else
                        {
                                <option value="False" selected>Active</option>
                                    <option value="True" >Pasive</option>
                        }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-inverse-info me-2">
                        <i class="mdi mdi-file-check btn-icon-prepend"></i>
                        Submit
                    </button>
                <a class="btn btn-inverse-secondary" type="reset" href="/ProductCustomization/Index">Cancel</a>
            </form>
        </div>
    </div>
</div>

