@using StarbucksProje.Models
@model OptionTypeModel
@{
    ViewData["Title"] = "UpdateOption";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var options = Model.optionModel;
    var optionTypes = Model.optionTypeModel;
    var index = ViewBag.id - 1;
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h4 class="card-title">Option</h4>
            <p class="card-description">
                Option Update
            </p>
            <form class="forms-sample" action="/Option/UpdateOption" method="post">
                <input type="hidden" class="form-control" name="optionId" value="@options[index].optionId">
                <div class="form-group">
                    <label>Option Name</label>
                    <input type="text" class="form-control" placeholder="Option Name" name="optionName" value="@options[index].optionName">
                </div>

                <div class="form-group">
                    <label>Option Unit Price</label>
                    <input type="text" class="form-control" placeholder="Option Unit Price" name="optionUnitPrice" value="@options[index].optionUnitPrice">
                </div>

                 <label>Option Type Name</label>
                <div class="form-group">
                    <select class="form-control" name="optionTypeId">
                        @foreach (var item in optionTypes)
                        {
                            if (item.optionTypeId == options[index].optionTypeId)
                            {
                                <option value="@item.optionTypeId" selected>@item.optionTypeName</option>
                            }
                            else
                            {
                                <option value="@item.optionTypeId">@item.optionTypeName</option>
                            }
                        }
                    </select>
                </div>

                <label>Parent Option Name</label>
                <div class="form-group">
                    <select class="form-control" name="optionParentId">
                        <option value="">NULL</option>
                        @foreach (var item in options)
                        {
                            if (item.optionParentId == options[index].optionParentId)
                            {
                                        <option value="@item.optionParentId" selected>@item.optionName</option>
                            }
                            else
                            {
                                        <option value="@item.optionParentId">@item.optionName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" name="optionDeleted">
                        @if (options[index].optionDeleted)
                        {
                            <option value="False">Active</option>
                            <option value="True" selected>Pasive</option>
                        }
                        else
                        {
                            <option value="False"selected>Active</option>
                            <option value="True">Pasive</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-inverse-info me-2">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Submit
                </button>
                <a class="btn btn-inverse-secondary" type="reset" href="/Option/ListOption">Cancel</a>
            </form>
        </div>
    </div>
</div>

