@using EntityLayer
@model Address
@{
    ViewData["Title"] = "UpdateAddress";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-11 grid-margin stretch-card">
    <div class="card m-5 overflow-auto" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h4 class="card-title">Address</h4>
            <p class="card-description">
                Address Update
            </p>
            <form class="forms-sample" action="/Address/UpdateAddress" method="post">
                <input type="hidden" class="form-control" name="addressId" value="@Model.addressId">
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" placeholder="City" name="city" value="@Model.city">
                    @Html.ValidationMessage("city","",new{@class="text-danger"})
                </div>
                <div class="form-group">
                    <label>District</label>
                    <input type="text" class="form-control" placeholder="District" name="district" value="@Model.district">
                    @Html.ValidationMessage("district","",new{@class="text-danger"})
                </div>
                <div class="form-group">
                    <label>Neighbourhood</label>
                    <input type="text" class="form-control" placeholder="Neighbourhood" name="neighbourhood" value="@Model.neighbourhood">
                    @Html.ValidationMessage("neighbourhood","",new{@class="text-danger"})
                </div>
                <div class="form-group">
                    <label>Street</label>
                    <input type="text" class="form-control" placeholder="Street" name="street" value="@Model.street">
                    @Html.ValidationMessage("street","",new{@class="text-danger"})
                </div>
                <div class="form-group">
                    <label>Apartment Number</label>
                    <input type="text" class="form-control" placeholder="Apartment Number" name="apartmentNumber" value="@Model.apartmentNumber">
                    Html.ValidationMessage("apartment Number","",new{@class="text-danger"})
                </div>
                <div class="form-group">
                    <label for="exampleSelectGender">Status</label>
                    <select class="form-control" name="addressDeleted">
                        @if (Model.addressDeleted)
                        {
                                <option value="False">Active</option>
                                <option value="True" selected>Pasive</option>
                        }
                        else
                        {
                                <option value="False"selected>Active</option>
                                <option value="True">Pasive</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-inverse-info me-2">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Submit
                </button>
                <a class="btn btn-inverse-secondary" type="reset" href="/Address/Index">Cancel</a>
            </form>
        </div>
    </div>
</div>

