@using StarbucksProje.Models
@model ProductSizeModel
@{
    ViewData["Title"] = "AddProductSize";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var products = Model.productModel;
    var sizes = Model.sizeModel;
}

<div class="col-11 grid-margin stretch-card">
              <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <div class="card-body">
                  <h4 class="card-title">Product Size</h4>
                  <p class="card-description">
                    Product Size Add
                  </p>
                  <form class="forms-sample" action="/ProductSize/AddProductSize" method="post">
                      <div class="form-group">
                      <label>Product Name</label>
                        <select class="form-control" name="productId">
                          @foreach(var item in products)
                          {
                            <option value="@item.productId">@item.productName</option>
                          }
                    </select>
                      </div>
                      <div class="form-group">
                      <label>Size Name</label>
                        <select class="form-control" name="sizeId">
                        @foreach (var item in sizes)
                        {
                                <option value="@item.sizeId">@item.sizeName</option>
                        }
                    </select>
                      </div>
                    <div class="form-group">
                      <label>Size Price</label>
                      <input type="text" class="form-control" placeholder="Size Price" name="productSizePrice">
                    @Html.ValidationMessage("productSizePrice","",new{@class="text-danger"})
                    </div>
                    <div class="form-group">
                      <label>Size Capacity</label>
                      <input type="text" class="form-control" placeholder="Size Capacity" name="productSizeCapacity">
                    @Html.ValidationMessage("productSizeCapacity","",new{@class="text-danger"})
                    </div>
                    <div class="form-group">
                      <label>Unit Price</label>
                      <input type="text" class="form-control" placeholder="Unit Price" name="unitPrice">
                    @Html.ValidationMessage("unitPrice","",new{@class="text-danger"})
                    </div>
                    <div class="form-group">
                      <label>Status</label>
                        <select class="form-control" name="productSizeDeleted">
                          <option value="False">Active</option>
                          <option value="True">Pasive</option>
                        </select>
                      </div>
                       <button type="submit" class="btn btn-inverse-info me-2">
                           <i class="mdi mdi-file-check btn-icon-prepend"></i>
                           Submit
                       </button>
                    <a class="btn btn-inverse-secondary" type="reset" href="/ProductSize/ListProductSize">Cancel</a>
                  </form>
                </div>
              </div>
            </div>

