@using StarbucksProje.Models
@model OrderProductSizeCargoProccessIdUserIdModel
@{
    ViewData["Title"] = "AddOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-11 grid-margin stretch-card">
    <div class="card m-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h4 class="card-title">Order</h4>
            <p class="card-description">
                Order Add
            </p>
            <form class="forms-sample" action="/Order/AddOrder" method="post">
                <div class="form-group">
                    <label>Payment Type</label>
                    <select class="form-control" name="paymentType">
                        <option value="False">Cash</option>
                        <option value="True">Card</option>
                    </select>
                </div>
                  <div class="form-group">
                    <label>Order Date</label>
                    <input type="date" class="form-control" placeholder="Order Date" name="orderDate">
                </div>
                <div class="form-group">
                    <label>Order Quantity</label>
                    <input type="text" class="form-control" placeholder="Order Quantity" name="orderQuantity">
                </div>
                 <div class="form-group">
                    <label>Card Added Date</label>
                    <input type="date" class="form-control" placeholder="Card Added Date" name="cardAddedDate">
                </div>
                <div class="form-group">
                    <label>User Name</label>
                    <select class="form-control" name="userId">
                        @foreach (var item in Model.userModel)
                        {
                            <option value="@item.userId">@item.name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Product Size Price</label>
                    <select class="form-control" name="productSizeId">
                        @foreach (var item in Model.productSizeModel)
                        {
                            <option value="@item.productSizeId">@item.unitPrice</option>
                        }
                    </select>
                </div>
                    <div class="form-group">
                    <label>Cargo Proccess</label>
                    <select class="form-control" name="cargoProcessId">
                        @foreach (var item in Model.cargoProcessesModel)
                        {
                            <option value="@item.cargoProcessId">@item.cargoStatus</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" name="orderDeleted">
                        <option value="False">Active</option>
                        <option value="True">Pasive</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-inverse-info me-2">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Submit
                </button>
                <a class="btn btn-inverse-secondary" type="reset" href="/Order/Index">Cancel</a>
            </form>
        </div>
    </div>
</div>

