@using StarbucksProje.Models
@model OrderProductSizeCargoProccessIdUserIdModel
@{
    ViewData["Title"] = "UpdateOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-11 grid-margin stretch-card">
    <div class="card m-5 overflow-auto" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
        <div class="card-body">
            <h4 class="card-title">Address</h4>
            <p class="card-description">
                Order Update
            </p>
            <form class="forms-sample" action="/Order/UpdateOrder" method="post">
                <input type="hidden" class="form-control" name="orderId" value="@Model.orderModel.orderId">
                <div class="form-group">
                    <label>Payment Type</label>
                    <select class="form-control" name="paymentType">
                        @if (Model.orderModel.paymentType)
                        {
                            <option value="False">Cash</option>
                            <option value="True" selected>Card</option>
                        }
                        else
                        {
                            <option value="False" selected>Cash</option>
                            <option value="True">Card</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Order Date</label>
                    <input type="text" class="form-control" placeholder="Order Date" name="orderDate" value="@Model.orderModel.orderDate">
                </div>
                <div class="form-group">
                    <label>Order Quantity</label>
                    <input type="text" class="form-control" placeholder="Order Quantity" name="orderQuantity" value="@Model.orderModel.orderQuantity">
                    @Html.ValidationMessage("Order Quantity","",new{@class="text-danger"})
                </div>
                <div class="form-group">
                    <label>Card Added Date</label>
                    <input type="text" class="form-control" placeholder="Card Added Date" name="cardAddedDate" value="@Model.orderModel.cardAddedDate">
                </div>
                <div class="form-group">
                    <label>User Name</label>
                    <select class="form-control" name="userId">
                        @foreach (var item in Model.userModel)
                        {
                            @if (item.userId == Model.orderModel.userId)
                            {
                                <option value="@item.userId" selected>@item.name</option>
                            }
                            else
                            {
                                <option value="@item.userId">@item.name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Product Name</label>
                    <select class="form-control" name="productSizeId">
                        @foreach (var item in Model.productSizeModel)
                        {
                            @if (item.productSizeId == Model.orderModel.productSizeId)
                            {
                                <option value="@item.productSizeId" selected>@item.unitPrice</option>
                            }
                            else
                            {
                                <option value="@item.productSizeId">@item.unitPrice</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Cargo Proccess</label>
                    <select class="form-control" name="cargoProcessId">
                        @foreach (var item in Model.cargoProcessesModel)
                        {
                            @if (item.cargoProcessId == Model.orderModel.cargoProcessId)
                            {
                                <option value="@item.cargoProcessId" selected>@item.cargoStatus</option>
                            }
                            else
                            {
                                <option value="@item.cargoProcessId">@item.cargoStatus</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleSelectGender">Status</label>
                    <select class="form-control" name="orderDeleted">
                        @if (Model.orderModel.orderDeleted)
                        {
                            <option value="False">Active</option>
                            <option value="True" selected>Pasive</option>
                        }
                        else
                        {
                            <option value="False" selected>Active</option>
                            <option value="True">Pasive</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-inverse-info me-2">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    Submit
                </button>
                <a class="btn btn-inverse-secondary" type="reset" href="/Order/Index">Cancel</a>
            </form>
        </div>
    </div>
</div>

